@page
@model AdmissionSys.Pages.AcademicRecord.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        @if (Model.render == true)
    {
        <h2>Index</h2>


        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="table-background">
                        <th>
                            Qualification
                        </th>
                        <th>
                            Board/University
                        </th>
                        <th>
                            Faculty/College Name
                        </th>
                        <th>
                            Passing Date
                        </th>
                        <th>
                            Marks/Grade
                        </th>
                        <th>
                            Out Of/CGPA
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <th>
                            SSC/Std 10th                                    <div style="text-align: right;vertical-align:top; font-size: x-small">
                                [ <a class="qualification" style="cursor:pointer;" onclick="location.href='/AcademicRecord/Create?ex=ssc'">
                                    Add
                                </a>]
                            </div>
                        </th>
                        @foreach (var item in Model.AcademicRecord)
                    {

                        <td>@Html.DisplayFor(modelItem => item.BoardOrUni)</td>
                        <td>@Html.DisplayFor(modelItem => item.SchoolOrCollegeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.MonthYearOfPass)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarksObtained)
                        </td>
                        <td>
                            <label class="control-label">
                                @Html.DisplayFor(modelItem => item.ObtainedOutOfOrCGPA)
                            </label>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/exams/ssc/edit?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/edit.svg" height="20px" width="20px" /></a>
                            </center>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/Delete?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/ban.svg" height="20px" width="20px" /></a>
                            </center>

                        </td>
                }

                    </tr>
                    <tr>
                        <th>
                            HSC/Std 12th                                    <div style="text-align: right;vertical-align:top; font-size: x-small">
                                [ <a class="qualification" style="cursor:pointer;" onclick="location.href='/AcademicRecord/Create?ex=hsc'">
                                    Add
                                </a>]
                            </div>
                        </th>
                        @foreach (var item in Model.AcademicRecordHSC)
                    {
                        <td>@Html.DisplayFor(modelItem => item.BoardOrUni)</td>
                        <td>@Html.DisplayFor(modelItem => item.SchoolOrCollegeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.MonthYearOfPass)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarksObtained)

                        </td>
                        <td>
                            <label class="control-label">
                                @Html.DisplayFor(modelItem => item.ObtainedOutOfOrCGPA)
                            </label>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/exams/hsc/edit?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/edit.svg" height="20px" width="20px" /></a>
                            </center>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/Delete?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/ban.svg" height="20px" width="20px" /></a>
                            </center>

                        </td>
                }
                    </tr>
                    <tr>
                        <th>
                            Certificate                                    <div style="text-align: right;vertical-align:top; font-size: x-small">
                                [ <a class="qualification" style="cursor:pointer;" onclick="location.href='/AcademicRecord/Create?ex=certi'">
                                    Add
                                </a>]
                            </div>
                        </th>
                        @foreach (var item in Model.AcademicRecordCerti)
                    {
                        <td>@Html.DisplayFor(modelItem => item.BoardOrUni)</td>
                        <td>@Html.DisplayFor(modelItem => item.SchoolOrCollegeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.MonthYearOfPass)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarksObtained)

                        </td>
                        <td>
                            <label class="control-label">
                                @Html.DisplayFor(modelItem => item.ObtainedOutOfOrCGPA)
                            </label>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/exams/certi/edit?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/edit.svg" height="20px" width="20px" /></a>
                            </center>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/Delete?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/ban.svg" height="20px" width="20px" /></a>
                            </center>

                        </td>
                }
                    </tr>
                    <tr>
                        <th>
                            Diploma                                    <div style="text-align: right;vertical-align:top; font-size: x-small">
                                [ <a class="qualification" style="cursor:pointer;" onclick="location.href='/AcademicRecord/Create?ex=diploma'">
                                    Add
                                </a>]
                            </div>
                        </th>
                        @foreach (var item in Model.AcademicRecordDiploma)
                    {
                        <td>@Html.DisplayFor(modelItem => item.BoardOrUni)</td>
                        <td>@Html.DisplayFor(modelItem => item.SchoolOrCollegeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.MonthYearOfPass)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarksObtained)

                        </td>
                        <td>
                            <label class="control-label">
                                @Html.DisplayFor(modelItem => item.ObtainedOutOfOrCGPA)
                            </label>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/exams/diploma/edit?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/edit.svg" height="20px" width="20px" /></a>
                            </center>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/Delete?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/ban.svg" height="20px" width="20px" /></a>
                            </center>

                        </td>
                }
                    </tr>
                    <tr>
                        <th>
                            Graduate/Post Graduate                                    <div style="text-align: right;vertical-align:top; font-size: x-small">
                                [ <a class="qualification" style="cursor:pointer;" onclick="location.href='/AcademicRecord/Create?ex=graduate'">
                                    Add
                                </a>]
                            </div>
                        </th>
                        @foreach (var item in Model.AcademicRecordGraduate)
                    {
                        <td>@Html.DisplayFor(modelItem => item.BoardOrUni)</td>
                        <td>@Html.DisplayFor(modelItem => item.SchoolOrCollegeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.MonthYearOfPass)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarksObtained)

                        </td>
                        <td>
                            <label class="control-label">
                                @Html.DisplayFor(modelItem => item.ObtainedOutOfOrCGPA)
                            </label>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/exams/graduate/edit?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/edit.svg" height="20px" width="20px" /></a>
                            </center>
                        </td>
                        <td style="width:5%">
                            <center>
                                <a href="/AcademicRecord/Delete?id=@Html.DisplayFor(modelItem => item.AcademicRecordID)"><img src="~/images/ban.svg" height="20px" width="20px" /></a>
                            </center>

                        </td>
                }
                    </tr>

                </tbody>
            </table>
        </div>
}

        @if (Model.render == false)
    {
        <div>
            <h2>
                The Academic Records are freezed as you have already applied for a course.
            </h2>
        </div>
}
    </div>
</div>
<a asp-page="../ProgramSelect/Index">Select a Program to apply</a>