@page
@model AdmissionSys.Pages.Admin.Student.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2>Index</h2>
        <p>
            <a asp-page="Create">Create New</a>
        </p>
        <form asp-page="./Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Find by name: <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                    <input type="submit" value="Search" class="btn btn-default" /> |
                    <a asp-page="./Index">Back to full List</a>
                </p>
            </div>
        </form>
        <table class="table table-responsive">
            <caption>List of Students</caption>
            <thead class="thead-dark">
                <tr>
                    <th>
                        Signature Preview
                    </th>
                    <th>
                        Photo Preview
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students[0].StudentName)
                        <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            <img src="~/images/sortwhite.png" alt="sort" height="25px" width="25px" />
                        </a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students[0].StudentID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students[0].LastOpr)
                        <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            <img src="~/images/sortwhite.png" alt="sort" height="25px" width="25px" />
                        </a>
                    </th>
                    <th> Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.StudentSignature)" height="50px" width="50px" />
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.StudentPhoto)" height="50px" width="50px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastOpr)
                    </td>
                    <td>
                        <a asp-page="./allapplications" asp-route-id="@item.StudentID">View Applications</a> |
                        <a asp-page="../Document/Index" asp-route-id="@item.StudentID">View Documents</a> |
                        <a asp-page="../../Student/Edit" asp-route-id="@item.StudentID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.StudentID">Details</a> |
                        <a asp-page="../../Student/Delete" asp-route-id="@item.StudentID">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        @{
        var prevDisabled = !Model.Students.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Students.HasNextPage ? "disabled" : "";
        }
        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Students.PageIndex - 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Students.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>

